___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [1]:
import pandas as pd
import numpy as np

%matplotlib inline
pd.options.display.float_format = '{:.4f}'.format

ri2 = pd.read_csv("ri2.csv", index_col = "stop_datetime")
ri2.head()

C:\Users\alica\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,600,M,1985.0000,20.0000,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,500,M,1987.0000,18.0000,W,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,500,M,1986.0000,19.0000,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,500,M,1978.0000,27.0000,B,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,RI,2005-01-12,08:05,Zone X1,0,M,1973.0000,32.0000,B,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [2]:
ri2["violation"].value_counts() * 100 / ri2.shape[0]

Speeding              55.9186
Moving violation      18.7747
Equipment             12.7449
Other                  5.0389
Registration/plates    4.1262
Seat belt              3.3967
Name: violation, dtype: float64

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [3]:
male = ri2[ri2["driver_gender"] == "M"]

In [4]:
female = ri2[ri2["driver_gender"] == "F"]

In [5]:
def calculate_value_counts(df, i):
    percent = df[i].value_counts()*100/df.shape[0]
    piece = df[i].value_counts()
    return pd.DataFrame(list(zip(piece, percent)), columns = ["piece", "percent(%)"],index=  df[i].value_counts().keys())

In [6]:
calculate_value_counts(female, "violation")

                     piece  percent(%)
Speeding             86198     65.7308
Moving violation     17911     13.6581
Equipment            14039     10.7055
Registration/plates   5649      4.3077
Other                 3791      2.8908
Seat belt             3550      2.7071

In [7]:
calculate_value_counts(male, "violation")

                      piece  percent(%)
Speeding             182538     52.2364
Moving violation      72317     20.6948
Equipment             47211     13.5102
Other                 20425      5.8450
Registration/plates   14181      4.0581
Seat belt             12774      3.6555

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [8]:
female_and_speeding = female[female["violation"] == "Speeding"]

In [9]:
male_and_speeding = male[male["violation"] == "Speeding"]

In [10]:
calculate_value_counts(female_and_speeding, "stop_outcome")[0:2]

          piece  percent(%)
Citation  82168     95.3247
Warning    3362      3.9003

In [11]:
calculate_value_counts(male_and_speeding, "stop_outcome")[0:2]

           piece  percent(%)
Citation  172432     94.4636
Warning     6587      3.6086

***

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [12]:
ri2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 480584 entries, 2005-01-02 01:55:00 to 2015-12-31 23:48:00
Data columns (total 23 columns):
id                    480584 non-null object
state                 480584 non-null object
stop_date             480584 non-null object
stop_time             480584 non-null object
location_raw          480584 non-null object
police_department     480584 non-null object
driver_gender         480584 non-null object
driver_age_raw        480583 non-null float64
driver_age            478946 non-null float64
driver_race_raw       480584 non-null object
driver_race           480584 non-null object
violation_raw         480584 non-null object
violation             480584 non-null object
search_conducted      480584 non-null bool
search_type_raw       17762 non-null object
search_type           17762 non-null object
contraband_found      480584 non-null bool
stop_outcome          480584 non-null object
is_arrested           480584 non-null bool
stop_duration         480584 non-null object
out_of_state          480584 non-null bool
drugs_related_stop    480584 non-null bool
district              480584 non-null object
dtypes: bool(5), float64(2), object(16)
memory usage: 72.0+ MB

In [13]:
calculate_value_counts(ri2, "search_conducted")

        piece  percent(%)
False  462822     96.3041
True    17762      3.6959

In [14]:
ri2["search_conducted"].mean()*100

3.6959199640437466

***

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [15]:
calculate_value_counts(female, "search_conducted")[1:2]

      piece  percent(%)
True   2459      1.8751

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [16]:
calculate_value_counts(male, "search_conducted")[1:2]

      piece  percent(%)
True  15303      4.3792

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [17]:
ri2.groupby("driver_gender")[["search_conducted"]].mean()

               search_conducted
driver_gender
F                        0.0188
M                        0.0438

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [18]:
ri2.groupby(["driver_gender", "violation"])[["search_conducted"]].mean()

                                   search_conducted
driver_gender violation
F             Equipment                      0.0402
              Moving violation               0.0380
              Other                          0.0459
              Registration/plates            0.0547
              Seat belt                      0.0177
              Speeding                       0.0077
M             Equipment                      0.0709
              Moving violation               0.0592
              Other                          0.0461
              Registration/plates            0.1036
              Seat belt                      0.0317
              Speeding                       0.0266

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [19]:
ri2.groupby(["violation", "driver_gender"])[["search_conducted"]].mean()

                                   search_conducted
violation           driver_gender
Equipment           F                        0.0402
                    M                        0.0709
Moving violation    F                        0.0380
                    M                        0.0592
Other               F                        0.0459
                    M                        0.0461
Registration/plates F                        0.0547
                    M                        0.1036
Seat belt           F                        0.0177
                    M                        0.0317
Speeding            F                        0.0077
                    M                        0.0266

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [20]:
calculate_value_counts(ri2, "search_type")[4:5]

                  piece  percent(%)
Protective Frisk    879      0.1829

In [21]:
ri2.head()

,id,state,stop_date,stop_time,location_raw,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,600,M,1985.0000,20.0000,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,500,M,1987.0000,18.0000,W,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,500,M,1986.0000,19.0000,W,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,500,M,1978.0000,27.0000,B,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,RI,2005-01-12,08:05,Zone X1,0,M,1973.0000,32.0000,B,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

In [22]:
frisk = [] 

for i in ri2["search_type"] :
    if i == "Protective Frisk" :
        frisk.append(True)
    else : 
        frisk.append(False)
ri2["frisk"] = frisk

In [23]:
ri2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 480584 entries, 2005-01-02 01:55:00 to 2015-12-31 23:48:00
Data columns (total 24 columns):
id                    480584 non-null object
state                 480584 non-null object
stop_date             480584 non-null object
stop_time             480584 non-null object
location_raw          480584 non-null object
police_department     480584 non-null object
driver_gender         480584 non-null object
driver_age_raw        480583 non-null float64
driver_age            478946 non-null float64
driver_race_raw       480584 non-null object
driver_race           480584 non-null object
violation_raw         480584 non-null object
violation             480584 non-null object
search_conducted      480584 non-null bool
search_type_raw       17762 non-null object
search_type           17762 non-null object
contraband_found      480584 non-null bool
stop_outcome          480584 non-null object
is_arrested           480584 non-null bool
stop_duration         480584 non-null object
out_of_state          480584 non-null bool
drugs_related_stop    480584 non-null bool
district              480584 non-null object
frisk                 480584 non-null bool
dtypes: bool(6), float64(2), object(16)
memory usage: 72.4+ MB

In [24]:
calculate_value_counts(ri2, "frisk")

        piece  percent(%)
False  479705     99.8171
True      879      0.1829

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [25]:
df = ri2[ri2["search_conducted"] == True]

In [26]:
df.shape

(17762, 24)

In [27]:
df.groupby("driver_gender")["frisk"].mean()

driver_gender
F   0.0423
M   0.0506
Name: frisk, dtype: float64

In [28]:
ri2.to_csv("ri3.csv")